@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
/* dit word overal toegepast */
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
/*   */
    li, a {
    font-weight: 500;
    font-size: 25px;
    color: #ffffff; 
    text-decoration:double;
    } 

header {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    background-color: rgb(0, 0, 0);
    border-radius: 1%;

}
body{
    background-color: #24252a;
    width: 100%;

}


.logo {
    cursor: pointer;
    width: 10%;
}
nav{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    border-radius: 1%;
    margin: -5px 0 0 0;

    }

nav ul{
    padding: 40px;
    display: flex;
    flex-direction: row;
    }

nav li {
    margin: 0 100px;
    list-style: none;
    color: #ffffff;
   
    }
nav li a:hover{
    text-shadow: -3px 2px rgb(255, 0, 0);
    color: #000000;

    }
.texten {

     width: 20%;
     margin: 50px 0 0 50px;
    }
li a{
font-size: 20px;
}
.Profiel {
    justify-content: space-between;
    display: flex;
    display: inline-block;
}
.Profiel div{
    display: inline-block;
    
}

.Profiel img {
    width: 280px;
    margin: 40px;
    border-radius: 10%;
}
.Profiel h1, p{
    font-size: 25px;
    color: white;
    text-align: center;
}

.Profiel h1 {
    margin-top: -20px;
}

.profiel p {
    margin-top: -20px;
}

.Avonden h1{
    color: #ffffff;
    padding: 20px 300px;
    font-size: 300%;
}
.Fotos{
    margin: 10px 0 0 100px;
    width: 250px;
    border-radius: 5%;
}
.Fotos1{
    margin: 10px 0 0 300px;
    width: 500px;
    border-radius: 5%;
}
.Fotos2{
    margin: 10px 0 0 300px;
    width: 500px;
    border-radius: 5%;
}
.Fotos3{
    margin: 10px 0 0 300px;
    width: 500px;
    border-radius: 5%;
}
.logo1{
    margin: 10px 0 0 300px;
    width: 500px;
    border-radius: 5%;
}