@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    font-family: "Bebas", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #24252A;

}
    li, a {
    font-weight: 500;
    font-size: 25px;
    color: #edf0f1;
    text-decoration:double;
    } 

header {
    display: flex; 
    justify-content: space-between;
    align-items: center;

}

.logo {
    cursor: pointer;
    width: 20%;
}
nav{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    }

nav ul{
    padding: 20px;
    display: flex;
    flex-direction: row;
    }

nav li {
    padding: 15px;
    list-style: none;
    }
nav li a {
     margin: 100px;
    }
nav li a:hover{
    text-shadow: -3px 2px rgb(247, 14, 10);
    }
.texten h1 {
    font-family: "Bebas", sans-serif;
    font-size: 25px;
    color: rgb(255, 255, 255);
    margin: -200px 0px 0px 25px;
    }
.texten p {
    color: #ffffff;
     width: 20%;
    }
    